body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1204px;
  height:67px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3927 {
  position:absolute;
  left:0px;
  top:0px;
  width:1204px;
  height:67px;
}
#u3928 {
  position:absolute;
  left:2px;
  top:26px;
  width:1200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3929 {
  position:absolute;
  left:137px;
  top:39px;
  width:29px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3930 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3931 {
  position:absolute;
  left:1152px;
  top:33px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u3932 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3933 {
  position:absolute;
  left:1087px;
  top:15px;
  width:57px;
  height:22px;
  font-size:16px;
}
#u3934 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:29px;
}
#u3935 {
  position:absolute;
  left:1036px;
  top:17px;
  width:42px;
  height:29px;
}
#u3936 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:29px;
}
#u3937 {
  position:absolute;
  left:126px;
  top:7px;
  width:45px;
  height:29px;
}
#u3938 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3939 {
  position:absolute;
  left:213px;
  top:39px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3940 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:32px;
}
#u3941 {
  position:absolute;
  left:204px;
  top:7px;
  width:47px;
  height:32px;
}
#u3942 {
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:32px;
}
#u3943 {
  position:absolute;
  left:285px;
  top:7px;
  width:51px;
  height:32px;
}
#u3944 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3945 {
  position:absolute;
  left:297px;
  top:39px;
  width:29px;
  height:12px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3946 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:32px;
}
#u3947 {
  position:absolute;
  left:369px;
  top:7px;
  width:49px;
  height:32px;
}
#u3948 {
  position:absolute;
  left:2px;
  top:8px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3949 {
  position:absolute;
  left:382px;
  top:39px;
  width:29px;
  height:12px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3950 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:32px;
}
#u3951 {
  position:absolute;
  left:617px;
  top:7px;
  width:51px;
  height:32px;
}
#u3952 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3953 {
  position:absolute;
  left:459px;
  top:39px;
  width:29px;
  height:12px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3954 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
}
#u3955 {
  position:absolute;
  left:528px;
  top:7px;
  width:56px;
  height:32px;
}
#u3956 {
  position:absolute;
  left:2px;
  top:8px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3957 {
  position:absolute;
  left:544px;
  top:39px;
  width:29px;
  height:12px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3958 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3959 {
  position:absolute;
  left:630px;
  top:39px;
  width:29px;
  height:12px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3960 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:32px;
}
#u3961 {
  position:absolute;
  left:442px;
  top:7px;
  width:54px;
  height:32px;
}
#u3962 {
  position:absolute;
  left:2px;
  top:8px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
}
#u3963 {
  position:absolute;
  left:696px;
  top:7px;
  width:53px;
  height:32px;
}
#u3964 {
  position:absolute;
  left:2px;
  top:8px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3965 {
  position:absolute;
  left:711px;
  top:39px;
  width:29px;
  height:12px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3966 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:32px;
}
#u3967 {
  position:absolute;
  left:766px;
  top:7px;
  width:51px;
  height:32px;
}
#u3968 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3969 {
  position:absolute;
  left:780px;
  top:39px;
  width:29px;
  height:12px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3970 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u3971 {
  position:absolute;
  left:833px;
  top:7px;
  width:53px;
  height:36px;
}
#u3972 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3973 {
  position:absolute;
  left:1087px;
  top:33px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u3974 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:57px;
}
#u3975 {
  position:absolute;
  left:0px;
  top:3px;
  width:116px;
  height:56px;
  font-size:18px;
}
#u3976 {
  position:absolute;
  left:2px;
  top:18px;
  width:112px;
  word-wrap:break-word;
}
#u3977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3977 {
  position:absolute;
  left:848px;
  top:39px;
  width:29px;
  height:12px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3978 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3980 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:735px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3981 {
  position:absolute;
  left:0px;
  top:67px;
  width:116px;
  height:735px;
}
#u3982 {
  position:absolute;
  left:2px;
  top:360px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:27px;
}
#u3983 {
  position:absolute;
  left:88px;
  top:81px;
  width:21px;
  height:27px;
}
#u3984 {
  position:absolute;
  left:2px;
  top:6px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3987 {
  position:absolute;
  left:126px;
  top:75px;
  width:209px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3988 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u3989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:2px;
}
#u3989 {
  position:absolute;
  left:126px;
  top:98px;
  width:1077px;
  height:1px;
}
#u3990 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1073px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3991 {
  position:absolute;
  left:15px;
  top:242px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3992 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3993 {
  position:absolute;
  left:15px;
  top:77px;
  width:41px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u3994 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u3995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3995 {
  position:absolute;
  left:5px;
  top:189px;
  width:106px;
  height:43px;
}
#u3996 {
  position:absolute;
  left:2px;
  top:14px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3997 {
  position:absolute;
  left:15px;
  top:200px;
  width:57px;
  height:20px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3998 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u3999 {
  position:absolute;
  left:15px;
  top:121px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u4000 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u4001 {
  position:absolute;
  left:15px;
  top:160px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u4002 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4004 {
  position:absolute;
  left:902px;
  top:122px;
  width:250px;
  height:21px;
}
#u4004_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u4005 {
  position:absolute;
  left:853px;
  top:123px;
  width:49px;
  height:18px;
  font-size:13px;
  text-align:right;
}
#u4006 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4008 {
  position:absolute;
  left:527px;
  top:213px;
  width:250px;
  height:21px;
}
#u4008_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u4009 {
  position:absolute;
  left:452px;
  top:214px;
  width:75px;
  height:18px;
  font-size:13px;
  text-align:right;
}
#u4010 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u4011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u4012 {
  position:absolute;
  left:465px;
  top:169px;
  width:62px;
  height:18px;
  font-size:13px;
  text-align:right;
}
#u4013 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u4014 {
  position:absolute;
  left:527px;
  top:168px;
  width:250px;
  height:21px;
}
#u4014_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4014_input:disabled {
  color:grayText;
}
#u4015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4016 {
  position:absolute;
  left:902px;
  top:212px;
  width:250px;
  height:21px;
}
#u4016_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u4017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u4017 {
  position:absolute;
  left:836px;
  top:213px;
  width:66px;
  height:18px;
  font-size:13px;
  text-align:right;
}
#u4018 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4020 {
  position:absolute;
  left:902px;
  top:168px;
  width:250px;
  height:20px;
}
#u4020_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u4021 {
  position:absolute;
  left:840px;
  top:169px;
  width:62px;
  height:18px;
  font-size:13px;
  text-align:right;
}
#u4022 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u4023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4023 {
  position:absolute;
  left:138px;
  top:122px;
  width:288px;
  height:180px;
}
#u4024 {
  position:absolute;
  left:2px;
  top:81px;
  width:284px;
  word-wrap:break-word;
}
#u4025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4025 {
  position:absolute;
  left:138px;
  top:312px;
  width:71px;
  height:21px;
}
#u4026 {
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  word-wrap:break-word;
}
#u4027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u4028 {
  position:absolute;
  left:461px;
  top:302px;
  width:66px;
  height:36px;
  text-align:right;
}
#u4029 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:17px;
}
#u4030 {
  position:absolute;
  left:788px;
  top:263px;
  width:365px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u4031 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u4032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u4033 {
  position:absolute;
  left:466px;
  top:260px;
  width:62px;
  height:18px;
  font-size:13px;
  text-align:right;
}
#u4034 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u4035 {
  position:absolute;
  left:528px;
  top:259px;
  width:250px;
  height:21px;
}
#u4035_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4035_input:disabled {
  color:grayText;
}
#u4036 {
  position:absolute;
  left:527px;
  top:304px;
  width:630px;
  height:65px;
}
#u4037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u4037 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
  font-size:12px;
}
#u4038 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u4039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u4039 {
  position:absolute;
  left:63px;
  top:0px;
  width:63px;
  height:30px;
  font-size:12px;
}
#u4040 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u4041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u4041 {
  position:absolute;
  left:126px;
  top:0px;
  width:63px;
  height:30px;
  font-size:12px;
}
#u4042 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u4043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u4043 {
  position:absolute;
  left:189px;
  top:0px;
  width:63px;
  height:30px;
  font-size:12px;
}
#u4044 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u4045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u4045 {
  position:absolute;
  left:252px;
  top:0px;
  width:63px;
  height:30px;
  font-size:12px;
}
#u4046 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u4047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u4047 {
  position:absolute;
  left:315px;
  top:0px;
  width:63px;
  height:30px;
  font-size:12px;
}
#u4048 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u4049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u4049 {
  position:absolute;
  left:378px;
  top:0px;
  width:63px;
  height:30px;
  font-size:12px;
}
#u4050 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u4051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u4051 {
  position:absolute;
  left:441px;
  top:0px;
  width:63px;
  height:30px;
  font-size:12px;
}
#u4052 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u4053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u4053 {
  position:absolute;
  left:504px;
  top:0px;
  width:63px;
  height:30px;
  font-size:12px;
}
#u4054 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u4055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u4055 {
  position:absolute;
  left:567px;
  top:0px;
  width:58px;
  height:30px;
  font-size:12px;
}
#u4056 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u4057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u4057 {
  position:absolute;
  left:0px;
  top:30px;
  width:63px;
  height:30px;
  font-size:12px;
}
#u4058 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u4059 {
  position:absolute;
  left:63px;
  top:30px;
  width:63px;
  height:30px;
  font-size:12px;
}
#u4060 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u4061 {
  position:absolute;
  left:126px;
  top:30px;
  width:63px;
  height:30px;
  font-size:12px;
}
#u4062 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u4063 {
  position:absolute;
  left:189px;
  top:30px;
  width:63px;
  height:30px;
  font-size:12px;
}
#u4064 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u4065 {
  position:absolute;
  left:252px;
  top:30px;
  width:63px;
  height:30px;
  font-size:12px;
}
#u4066 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u4067 {
  position:absolute;
  left:315px;
  top:30px;
  width:63px;
  height:30px;
  font-size:12px;
}
#u4068 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u4069 {
  position:absolute;
  left:378px;
  top:30px;
  width:63px;
  height:30px;
  font-size:12px;
}
#u4070 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u4071 {
  position:absolute;
  left:441px;
  top:30px;
  width:63px;
  height:30px;
  font-size:12px;
}
#u4072 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:30px;
}
#u4073 {
  position:absolute;
  left:504px;
  top:30px;
  width:63px;
  height:30px;
  font-size:12px;
}
#u4074 {
  position:absolute;
  left:2px;
  top:7px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
}
#u4075 {
  position:absolute;
  left:567px;
  top:30px;
  width:58px;
  height:30px;
  font-size:12px;
}
#u4076 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4077 {
  position:absolute;
  left:1213px;
  top:302px;
  width:113px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4078 {
  position:absolute;
  left:10px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u4079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4079 {
  position:absolute;
  left:452px;
  top:438px;
  width:105px;
  height:30px;
}
#u4080 {
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u4081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4081 {
  position:absolute;
  left:585px;
  top:438px;
  width:105px;
  height:30px;
}
#u4082 {
  position:absolute;
  left:2px;
  top:6px;
  width:101px;
  word-wrap:break-word;
}
#u4083 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:right;
}
#u4085 {
  position:absolute;
  left:478px;
  top:123px;
  width:49px;
  height:18px;
  font-size:13px;
  text-align:right;
}
#u4086 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4087 {
  position:absolute;
  left:527px;
  top:120px;
  width:250px;
  height:21px;
}
#u4087_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4087_input:disabled {
  color:grayText;
}
#u4088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u4088 {
  position:absolute;
  left:787px;
  top:121px;
  width:21px;
  height:21px;
}
#u4089 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4090 {
  position:absolute;
  left:1213px;
  top:120px;
  width:163px;
  height:122px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4091 {
  position:absolute;
  left:10px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u4092 {
  position:absolute;
  left:798px;
  top:121px;
  width:0px;
  height:0px;
}
#u4092_seg0 {
  position:absolute;
  left:-4px;
  top:-18px;
  width:8px;
  height:18px;
}
#u4092_seg1 {
  position:absolute;
  left:-4px;
  top:-18px;
  width:505px;
  height:8px;
}
#u4092_seg2 {
  position:absolute;
  left:493px;
  top:-18px;
  width:8px;
  height:17px;
}
#u4093 {
  position:absolute;
  left:198px;
  top:-22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u4094 {
  position:absolute;
  left:15px;
  top:274px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u4095 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
